<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ferdy’s Twitchiverse - OBS Overlay</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/fontawesome.css">
</head>
<body>
    <div id="top-bar">
        <div id="left-section">
            <div id="last-follower"><strong><i class="fa fa-user"></i>Last Follower</strong><span>None</span></div>
            <div id="last-subscriber"><strong><i class="fa fa-star"></i>Last Subscriber</strong><span>None</span></div>
        </div>
        <!-- Middle Section -->
        <div id="middle-section">
            <div id="goal-box" class="hidden">
                <span>Dummy Goal: 1 / 1</span>
                <div id="goal-progress">
                    <div id="goal-bar" style="width: 1%;"></div>
                </div>
            </div>
        </div>
        <div id="right-section">
            <!-- Dynamic Icons Section -->
            <div id="dynamic-icons"></div>
            <div id="custom-message">
                <div class="icon-container">
                    <div class="icon-background">
                        <i class="fa fa-comment"></i>
                    </div>
                </div>
                <div class="scrolling-text" id="cm_scrolling">Willkommen im Ferdyverse!</div>
            </div>
        </div>
    </div>
    <div class="channel_logo">
        <img src="/static/images/ferdyverse.svg">
    </div>
    <canvas id="spaceCanvas"></canvas>
    <div id="chat-container"></div>
    <div id="overlay"></div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.2/gsap.min.js"></script>
    <script type="module" src="/static/js/main.js"></script>
    <script type="module" src="/static/js/websocket.js"></script>
</body>
